<section id='profile-container'>
    <img src="/images/profile-back.png" alt="background" id='profile-back'>
    <div id='profile-box'>
        <div id='about-user'>
            <div id='profile-img-box'>
                <div id='profile-img'></div>
            </div>
            <div id='about-user-box'>
                <div id='name-edit'>
                    <h1 id='user-name'>{{user.firstname}} {{user.lastname}}</h1>
                     <a href="/profile/edit" id='edit-profile-icon'></a>
                </div>
                <p id='user-about'>{{user.about}}</p>
            </div>
        </div>
        <div id='journeys'>
            <h1 id='journey'>Journeys</h1>
            <a href='/profile/{{user._id}}/add-country' id='add-country-icon'></a> 
            <div id='countries-box'>
                {{#each user.countries}}
                    <div id='country'>
                        <div id='stamp1'>
                            <a href="/profile/{{user._id}}/edit-country" id='edit-country-icon'></a>
                            <img src="{{this.image_URL}}" alt="country" id='country-img'> {{!-- Fill in country img--}}
                            <h2 id='country-name'>{{this.countries}}</h2> {{!-- Fill in country name--}}
                        </div>
                        <a href='/profile/{{user._id}}/country/{{this._id}}' id='see-btn'>See more</a>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</section>

