<section id='blog-container'>
     <div id='edit-container'>
         <div id='edit-box'>
            <div id='country-edit-btns'>
                <a href="/profile/country/{{userCountry.id}}" class='back-link' id='back-link'>Back</a>
                <a href="/profile/country/{{userCountry.id}}/delete-gallery/{{post.id}}" id='country-delete'>delete</a>
            </div>
            <h1>EDIT GALLERY</h1>
            <form id='edit-gallery-form' action='/profile/country/{{userCountry.id}}/edit-gallery/{{post.id}}' method='POST' enctype ='multipart/form-data'> 
                <div id='add-file-box'>
                    <input type="file" name='image' id="file"/> 
                    <label for="file" id="add-file">upload image</label>
                </div>
                <input required type="text" name='title' placeholder='Title' class='input-blog' value='{{post.title}}'/> 
                <label id='city-label'>City:</label>
                <select name="cityId" id="cityId">
                 {{#select post.city.id}}
                   {{#each cities}}
                       <option value="{{this.id}}">{{this.name}}</option>
                   {{/each}}
                {{/select}}
                </select>
                <input type="date" name='date' class='input-blog' value='{{post.date}}'/> 
                <button type='submit' id='edit-btn'>Add</button>
            </form>
        </div>
    </div>
    <img src="/images/blog-back.png" alt="" id='blog-back'>
</section>
