<section id='blog-container'>
    <div id='country-img-box'>
        <img src={{userCountry.image_URL}} alt="country" id='blog-country-img'> 
        <h1 id='blog-country-name'>{{userCountry.country.name}}</h1>
    </div>
    <div id='blog-container-box'>
        <div id='blog-btn-box'>
            <a href="/profile" class='back-link'>Go back</a> 
            <div id='dropdown-add'>
                <button id='add-icon-btn'><img src="/images/add.png" alt="add"></button>
                <ul id='dropdown-add-content'>
                    <li id='blog-btn'><a href='/profile/country/{{userCountry.id}}/add-blog'>New blog</a></li>
                    <li id='gallery-btn'><a href='/profile/country/{{userCountry.id}}/add-gallery'>New gallery</a></li>
                </ul>
            </div>
        </div>
        <div id='post-container'>
            {{#each userCountry.posts}}
                {{#if blog}}
                <div id='blog-box'>
                    <div class='input-box' id='img-box'>
                        <img src={{image_URL}} alt="blog-img" id='blog-img'> 
                    </div>
                    <div class='input-box' id='blog-input'>
                        <div id='blog-content'>
                            <div id='blog-title-box'>
                                <h1 class='blog-title'>{{title}}</h1>
                                <a href='/profile/country/{{../userCountry.id}}/edit-blog/{{id}}' id='blog-edit-icon'></a> 
                            </div>
                            <div id='city-date-box'>
                                <div class='city-box'>
                                    <img src="/images/location-pin.png" alt="pin" id='pin'>
                                    <p id='city-name'>{{city.name}}</p> 
                                </div>
                                <div class='date-box'>
                                    <p id='date'>{{date}}</p> 
                                </div>
                            </div>
                            <div id='blog-text-box'>
                                <p id='blog-text'>{{story}}</p> 
                            </div>
                        </div>
                    </div>
                </div>
                {{else}}
                <div id='gallery-box'>
                    <div id='gallery-title-box'>
                        <div id='box1'>
                            <h1 class='blog-title'>{{title}}</h1>
                        </div>
                        <div id='box2'>
                            <a href='/profile/country/{{../userCountry.id}}/edit-gallery/{{id}}' id='blog-edit-icon'></a> 
                        </div>
                    </div>
                    <div id='gal-img-box'>
                        <img src="{{image_URL}}" alt="gallery-img" class='gal-img'> 
                    </div>
                    <div id='gal-city'>
                       <div class='city-box'>
                            <img src="/images/location-pin.png" alt="pin" id='pin'>
                            <p id='city-name'>{{city.name}}</p> 
                        </div>
                        <div class='date-box'>
                            <p id='date'>{{date}}</p> 
                        </div>
                    </div>
                </div>
                {{/if}}
            {{/each}}
        </div>
    </div>
    <img src="/images/blog-back.png" alt="" id='blog-back'>
</section>

